// Global Colors

$color-black: #303436;
$color-gray: #E8EBEE;
$color-gray-dark: #8D989E;
$color-gray-light:#F7F8F9;
$color-gray-light-border: #C2CAD0;
$color-gray-border: #8D989D;
$color-blue: #1A72B0;
$color-orange: #F9B44A;
$color-white: #ffffff;
