<div class="movie-card flex-row" >

  <div class="card-left">
    <img class="poster" src="{{details.poster}}">
  </div>
  <div class="card-right flex-column">
    <section class="card-header">
      <h2 class="title">{{details.title}}</h2>
      <div class="details flex-row">
        <div class="rated">{{details.rated}}</div>
        <div class="runtime">{{details.runtime}}</div>
        <div class="released">{{details.released}}</div>
      </div>
    </section>
    <section class="card-body">
      <div>{{details.plot}}</div>
    </section>
    <section class="card-footer">
      <button class="bt-orange">View on IMDB</button>
    </section>
  </div>
</div>
