@import './../../../styles/colors';

.movie-card{
  border-radius: 8px;
  border: 2px solid $color-black;
  background-color: $color-gray;
  margin-bottom: 20px;
  padding: 20px;
}

.card-left{
  .poster{
    width: 140px;
    border-radius: 8px;
  }
}
.card-right{
  display: block;
  padding-left: 20px;
  flex-grow: 1;

  .card-header{
    margin-bottom: 13px;
    .title{
      font-size: 24px;
      font-weight: bold;
      border-bottom: 1px solid $color-gray-dark;
      padding-bottom: 2px;
    }

    .details{
      margin-top: 4px;
      font-size: 14px;

      .rated{
        color: $color-gray-border;
        border-radius: 4px;
        border: 1px solid $color-gray-border;
        height: 22px;
        width: 58px;
        text-align: center;
        line-height: 1.6;
      }

      .runtime{
        font-family: 'ArialMT';
        line-height: 1.6;
        padding-left: 10px;
      }

      .released{
        flex-grow: 1;
        line-height: 1.6;
        text-align: right;
        font-family: 'Helvetica';
      }
    }
  }

  .card-body{
    font-family: 'Helvetica';
    font-size: 16px;
    margin-bottom: 10px;
    flex: 2;
  }

  .card-footer{
    text-align: right;
    button{
      font-family: 'Helvetica-Bold';
      font-weight: bold;
      height: 40px;
      width: 193px;
    }
  }
}

@media (max-width: 768px) {
  .movie-card{
    display: block;
    .card-left, .card-right{
      flex:none;
    }
    .card-left{
      text-align: center;
    }
  };
}
