//GLOBAL STYLES
@import './styles/colors';

/* ---------------- */
// RESET DEFAULTS
body{
  font-family: 'Helvetica', sans-serif;
  margin: 0px;
  padding: 0px;
  color: $color-black;
  background-color: $color-white;
}

section,
h1,h2,h3,h4{
  padding: 0px;
  margin: 0px;
  outline: 0px;
  display: block;
}

button{
  &:focus{
    outline: 0px;
  }
  &:hover{
    cursor: pointer;
  }
}
/*----------------- */

// BUTTONS
button{
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid $color-gray-light-border;

  &.bt-blue{
    color: $color-white;
    border-color: $color-blue;
    background-color: $color-blue;
  }
  &.bt-orange{
    color: $color-white;
    border-color: $color-orange;
    background-color: $color-orange;
  }
}

.button-grouped{
  border-radius: 0px;
  &:first-of-type{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  &:last-of-type{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: none;
  }
  &:not(:first-of-type):not(:last-of-type){
    border-left: none;
  }
}

// INPUTS
input{
  border-radius: 6px;
  padding: 8px;
  outline: none;
  border: 1px solid $color-gray-light-border;
  font-size: 14px;
}



.page-container{
  padding: 20px;
}


// FLEX ROW
.flex-row{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

