

<div class="page-container">
  <section class="filter-nav">
    <div class="filter-search">
      <input class="search-input" [(ngModel)]="searchTerm" (ngModelChange)="search()" placeholder="Filter by Title">
      <span class="clear" (click)="resetFilterList()">X</span>
    </div>
    <div class="filter-by">
      <button
        *ngFor="let year of yearList"
        class="button-grouped"
        (click)="toggleSelected(year)"
        [ngClass]="{'bt-blue': yearSelected === year}"
        >{{year}}</button>
    </div>
  </section>
  <section class="list">
    <movie-details  *ngFor="let movie of filteredList" [details]="movie"></movie-details>
  </section>
</div>

