@import './../../styles/colors';

.filter-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  .filter-search,.filter-by{
    flex: 2;
    padding: 10px;
  }

  .filter-search{
    display: flex;
    .search-input{
      width: 100%;
    }
    .clear{
      margin-left: -30px;
      padding: 5px 10px;
      cursor: pointer;
      line-height: 1.6;
      color: $color-gray-dark;
    }
  }

  .filter-by{
    text-align: right;
  }

}

.list{
  padding: 10px;

  .list-item{
    margin-bottom: 20px;
  }
}


@media (max-width: 768px) {
  .filter-nav{
    display: block;
    .filter-search, .filter-by{
      flex:none;
    }
  };
}
